__pycache__/
*.pyc
.pytest_cache

.env
log.txt
TODO.md
notes/

models/
output_test/
old_output/
staging_output/
live_staging/
hf_structured_output/

config.json
test_config.json

leaderboard_dataset_revised.csv
leaderboard_dataset.csv
leaderboard_dataset_v2.csv
temp.py
hhem_leaderboard.egg-info/

migrated_errors.txt

output_beta
beta_set.csv
final_set_v1.csv